@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "itcBold";
  src: url("../public/font/ITCGothic/Bold/Bold.otf") format('opentype');
}
@font-face {
  font-family: 'myFont';
  src: url("../public/font/ITCGothic/Demi/Demi.otf") format('opentype');
}
@font-face {
  font-family: 'itcMedium';
  src: url("../public/font/ITCGothic/Medium/Medium.otf") format('opentype');
}

:root{
  --background-color: "#0f0f0f",
  --text:"#B7AB98",
  --primary:"#EB5939"
}
.gradient{
  
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 38%, rgba(0, 0, 0, 0.80) 96.46%),  rgba(211, 211, 211, 0) 50% / cover no-repeat;
z-index: 100;
}